<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-header (onNavigationChange)='onNavigation($event)'></app-header>
      <span [ngSwitch]="currentNavigation">
            <p *ngSwitchCase="NavigationType.Recipes">
                <app-recipes></app-recipes>
            </p>
            <p *ngSwitchCase="NavigationType.Shopping">
                <app-shopping-list></app-shopping-list>
            </p>
            <p *ngSwitchDefault>
            
            </p>
        </span>
    </div>
  </div>
</div>
