<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input #nameInput type="text" id="name" value="{{ingredient.name}}" class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input #amountInput type="number" id="amount" value="{{ingredient.amount}}" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" (click)="onAdd()" type="button">Add</button>
          <button class="btn btn-danger" (click)="onDelete()" type="button">Delete</button>
          <button class="btn btn-primary" (click)="onClear()" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>